#login{
	border:2px solid black; 
	margin-left:70px;
	}
.wrapper{
	
	background-size: cover;
	height: 1vh;
}
.navbar{
	
	height: 100px;
	width: 90%;
	top: 0;
	left: 200;
	
}
.navbar .logo{
	width: 180px;
	height: auto;
	padding: 35px 5px;
	margin-left:40px;
}
.navbar ul{
	float: right;
	
	padding: 30px ;
}
.navbar ul li{
	list-style: none;
	margin: 8px;
	display: inline-block;
	line-height: 80px;

}
.navbar ul li a{
	font-size: 18px;
	font-family: "Source Sans Pro",sans-serif;
	color: black;
	padding: 6px 13px;
	text-decoration: none;
	transition: .4s;
	font-weight: 700;
}
.navbar ul li a:hover{
	font-size: 22px;
}
.wrapper .center{
	position: absolute;
	left: 50%;
	top: 55%;
	transform: translate(-50%, -50%);
	font-family: sans-serif;
	user-select: none;
}
body{
	
	background:#e9ecef;
}
	
}
* {
  font-family: Open Sans;
}

section1 {
  width: 100%;
  display: inline-block;
  background: #333;
  height: 50vh;
  text-align: center;
  font-size: 22px;
  font-weight: 800;
  text-decoration: underline;
}

.footer-distributed{
	background: #666;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100.98%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}


.footer-distributed .footer-left{
	width: 40%;
}



.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Open Sans', cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color:  lightseagreen;
}



.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
  font-weight:400;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #222;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}



.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
  font-weight:400;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  lightseagreen;
	text-decoration: none;;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}



.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}


@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}
 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}
 
 
 
 *{box-sizing: border-box}
  input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #FFFAFA;
}

body{
	 background: #c8e8e9;
}
.doc3{
	color:#000066;
	min-height:20vh;
	font-family:'raleway',sans-serif;
    padding-top:100px;	
}
.doc3 h1{
	font-size:3em;
	margin-top:100px;
	margin-bottom:100px;
	padding:5px 15px;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}



.button3{
  background-color: red;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;  
  opacity: 0.9;
 }

.button3:hover {
  background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
    }


.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
   float: right;
   width: 30%;
   border-radius: 6px;
   margin-right: 150px;
}

.updatebtn{
   padding: 14px 20px;
   background-color: #495057;
   float: left;
   width: 30%;
   border-radius: 6px;
   margin-left: 150px;
}


.container1 {
  padding: 25px;
}


.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto;
  background-color:#B0C4DE;
  padding-top: 50px;
}
.modal{
  background-color:#33827b;
  background-repeat: no-repeat;
  background-size: 100%;
  font-family: 'Yatra One', cursive;
}


.modal-content {  
  background-color: white;
  margin: 4% auto 20% auto;
  border: 1px solid #888;
  width: 75%;
  border-radius: 4px;
}


hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}



.clearfix::after {
  content: "";
  clear: both;
  display: table;
}


@media screen and (max-width: 300px) {
  .cancelbtn, .updatebtn {
    width: 100%;
  }
}
